---
layout: default
board: pjht7VPm
---

<div id='timeline-embed' style="width: 100%; height: 600px"></div>

<div id = "visualization"></div>

<hr>

<div class="container">
  
  <div class = "row">
    <div class = "col-sm-6">
      <strong>Assignment</strong>
    </div>
    <div class = "col-sm">
      <strong>Due</strong>
    </div>
    <div class = "col-sm-2">
      <strong>ID</strong>
    </div>
    <div class = "col-sm-1">
      <strong>Upload</strong>
    </div>
  </div>
  
{% for ass in site.assignments %}
  
  <div class = "row">
    <div class = "col-sm-6">
      {{ass.title}}
    </div>
    <div class = "col-sm">
      <small><span id="due{{forloop.index0}}"></span></small>
    </div>
    <div class = "col-sm-2">
    {{ass.type}}-{{ass.week}}{{ass.day}}
    </div>
    <div class = "col-sm-1 text-center">
       <a href="" id="submit{{forloop.index0}}">
        <i class="fas fa-cloud-upload-alt"></i>
       </a>
    </div>
  </div>
  
{% endfor %}
</div>

<script>
  function renderTimeline (data) {
  var dataset = new vis.DataSet(data);
  var container = document.getElementById('visualization');
  var options = {};
  // Create a Timeline
  var timeline = new vis.Timeline(container, dataset, options);
  console.log("Created timeline.");
  function onClick (props) {
    console.log(props);
  }
  timeline.on('click', onClick);
}
</script>


<script>
  
  var term_start = moment("{{site.term_start}}");  
  var ndx = 0;
  var objects = [];
  var KJE = [];
  var ndx = 0;
  var start = 0;
  var dobj = {};
  var txt = "";
  var dmom = {};
  var start_slide = 0;
  
  {% for ass in site.assignments %}
  
    // Moments are mutable... have to reset it every time through.
    // Every "add" call modifies the moment.
    ndx = {{forloop.index0}};
  
    dmom        = moment("{{site.term_start}}");
    dmom.add({{ass.week}}, 'weeks').add({{ass.day}}, 'days');
    
    dobj = {};
    dobj.year   = dmom.format("YYYY");
    dobj.month  = dmom.format("MM");
    dobj.day    = dmom.format("DD");
    dobj.hour   = "{{site.class_start_hour}}";
    dobj.minute = "{{site.class_start_minute}}"
    
    // If this assignment is before now...
    if (dmom.isBefore(moment())) {
      start_slide += 1;
    }
    
    KJE[ndx] = {};
    KJE[ndx].start_date = dobj;
    KJE[ndx].group = "{{ass.type}}";
    
    txt = `
    {{ass.content}}
    `;
    txt.replace("\n", "");
    KJE[ndx].text = { headline: "{{ass.title}}", text: txt};
   
    objects[{{forloop.index0}}] = {};
    objects[{{forloop.index0}}].id = {{forloop.index0}};
    objects[{{forloop.index0}}].content = "<a href='{{ass.url}}'>{{ass.type}}-{{ass.week}}{{ass.day}}</a>";
    objects[{{forloop.index0}}].start = (moment("{{site.term_start}}")
      .add({{ass.week}}, 'weeks')
      .add({{ass.day}}, 'days')
      .format("YYYY-MM-DD")); 
    
    $("#dueid{{forloop.index0}}").html((moment("{{site.term_start}}")
      .add({{ass.week}}, 'weeks')
      .add({{ass.day}}, 'days')
      .format("dddd, MMM Do")));
      
    $("#submitid{{forloop.index0}}").attr("href", ("https://docs.google.com/forms/d/e/1FAIpQLSfP3XzK6WDypkNVw8X_NiuZYFg3fOrooPfoaxhHGZt37AvNRA/viewform?usp=pp_url&"
      + "entry.37685363=" 
      + "{{ass.title}}"
      + "&entry.1208641331="
      + (moment("{{site.term_start}}")
        .add({{ass.week}}, 'weeks')
        .add({{ass.day}}, 'days')
        .format("YYYY-MM-DD"))
      ));
  {% endfor %}
  
  renderTimeline(objects);
  
  KJ = {};
  KJ.events = KJE;
  
  var timeline_json = KJ;
  var options = {
    // hash_bookmark: false,
    // initial_zoom: 5
    start_at_slide: start_slide
  }
  window.timeline = new TL.Timeline('timeline-embed', timeline_json, options);
</script>

<h1>Annnouncements</h1>

<div class="posts">
  {% for post in paginator.posts %}
    <article class="post">
      <h2>
        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
      </h2>

      <div clsss="meta">
        <span class="date">
          {{ post.date | date: "%Y-%m-%d" }}
        </span>

        <ul class="tag">
          {% for tag in post.tags %}
          <li>
            <a href="{{ site.url }}{{ site.baseurl }}/tags#{{ tag }}">
              {{ tag }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div>
